body {
    font-family: Arial;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}


.navbar {
    background: #007bff;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 40px;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.card {
    background: white;
    padding: 30px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
}

.table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 0 10px #ccc;
}

.table th, .table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.present-btn {
    padding: 8px 15px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

.absent-btn {
    padding: 8px 15px;
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
}
